.min-w-full {
  min-width: 100%;
}

.status-menunggu {
  background-color: #fef3c7;
  color: #a16207;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-weight: 500;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
}

.status-selesai {
  background-color: #d1fae5;
  color: #065f46;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-weight: 500;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
}

.table td.action-col {
  width: 80px;
  text-align: center;
}
