body {
  font-family: "Inter", sans-serif;
  padding-left: 16rem;
}

.sidebar-container {
  left: 0;
  top: 0;
}

.card-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1024px) {
  .lg\:ml-64 {
    margin-left: 16rem;
  }
}
