body {
  font-family: "Inter", sans-serif;
}

.card-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-textarea {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
